{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        {% for mensaje in app.flashes('success') %}
            <div class="alert alert-success">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.flashes('error') %}
            <div class="alert alert-error">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>




{% endblock %}